<td class="property-col">"{{property}}"</td>
<td class="radio-col">
  <input type="radio" value="A" name="dimension-{{property}}" />
</td>
<td class="radio-col">
  <input type="radio" value="B" name="dimension-{{property}}" />
</td>
<!-- We dont yet have charts that can have 3 axes
<td class="radio-col">
  <input type="radio" value="C" name="dimension-{{property}}" />
</td>
-->
<td class="radio-col">
  <input type="radio" value="" name="dimension-{{property}}" />
</td>
